.view{
    width: 300px;
    margin: 50px;
    background-color: #2e2d2d88;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display{
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background: #fff;
}

.btn{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

button{
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    background-color: #ccc;
    border: 1px solid #6a6363;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
#del, #clear{
    background-color: #fba3b2;
}
